.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgba(235, 242, 245, 0.3);
    position: sticky;
    padding: 0;
}

.sidebarWrapper {
    padding: 0 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);

}

ul {
    margin: 0;
}

.sidebarList {
    list-style: none;
    padding: 0 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #729db0
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}
